.container {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  box-shadow: 5px 5px 5px 0px #D715FC;
  background-color: white;
}

body {
  background-color: #4D4B4B;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: hidden;
}


.betForm {
  margin-left: 20px;
  margin-top: 20px;
}

.btn-primary {
  color: #fff;
  background-color: rebeccapurple;
  border-color: rebeccapurple;
}

.btn-primary:hover {
  color: #fff;
  background-color: blueviolet;
  border-color: blueviolet;
}
