<app-header></app-header>

<div class="container">

  <br>

  <table class="table" *ngIf="matches !== null">
    <thead class="thead-dark">
    <tr>
      <th scope="col">GAME NAME</th>
      <th scope="col">DATE & HOUR</th>
      <th scope="col">TEAM 1</th>
      <th scope="col">TEAM 2</th>
      <th scope="col">BET</th>
      <th scope="col">RESULT</th>
      <th scope="col">ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr app-product-row *ngFor="let match of matches; let i = index"
        [matchId]="match.id"
        [matchName]="match.game.name"
        [matchDate]="match.dateMatch"
        [team1]="match.teamsParticipating[0].teamName"
        [team2]="match.teamsParticipating[1].teamName"
        [bet]="match.listBet[0]"
        [index]="i"></tr>
    </tbody>
  </table>

</div>
