body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  box-shadow: 10px 10px 10px 0px #D715FC;
  background-color: #24292d;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.banner{
  height: 320px;
}

.text-info{
  color: white!important;
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: grey;
  border-color: grey;
}

.btn-info.disabled, .btn-info {
  color: #fff;
  background-color: rebeccapurple;
  border-color: rebeccapurple;
}


h3 {
  -webkit-text-stroke: 1px #D715FC;
}
