<app-header></app-header>


<body>
<div class ="content">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4"  *ngFor="let game of gameList">
      <div class="card">
        <div class="card-image">
          <img class="responsive"  src="assets/img/{{game.nameApiExt}}.jpg">
        </div>
        <!--        <div>-->
        <!--        <span class="card-title">-->
        <!--          {{game.name.toString()}}-->
        <!--        </span>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>



<!--<div class="row">-->
<!--  <div class="col s12 m6">-->
<!--    <div class="card">-->
<!--      <div class="card-image">-->
<!--        <img-->
<!--          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlTmTUW8n16Xrrq_mMtYEEpeOoC5ewj74ucyKjIWy7xYP-VPDS&s">-->
<!--        <span class="card-title">League of Legends</span>-->
<!--      </div>-->
<!--      <div class="card-action">-->
<!--        <div class="row">-->
<!--          <div class="col-6 text-center">-->
<!--            <button type="button" class="btn btn-primary btnCardHome">SEE MATCH</button>-->
<!--          </div>-->
<!--          <div class="col-6 text-center">-->
<!--            <button type="button" class="btn btn-primary btnCardHome">BET</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col s12 m6">-->
<!--    <div class="card">-->
<!--      <div class="card-image">-->
<!--        <img-->
<!--          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlTmTUW8n16Xrrq_mMtYEEpeOoC5ewj74ucyKjIWy7xYP-VPDS&s">-->

<!--      </div>-->
<!--      <div>-->
<!--        <span>-->
<!--          League Of Legends-->
<!--        </span>-->
<!--      </div>-->
<!--&lt;!&ndash;      <div class="card-action">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-6 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;            <button type="button" class="btn btn-primary btnCardHome">SEE MATCH</button>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="col-6 text-center">&ndash;&gt;-->
<!--&lt;!&ndash;            <button type="button" class="btn btn-primary btnCardHome">BET</button>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col s12 m6">-->
<!--    <div class="card">-->
<!--      <div class="card-image">-->
<!--        <img-->
<!--          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlTmTUW8n16Xrrq_mMtYEEpeOoC5ewj74ucyKjIWy7xYP-VPDS&s">-->
<!--        <span class="card-title">League of Legends</span>-->
<!--      </div>-->
<!--      <div class="card-action">-->
<!--        <div class="row">-->
<!--          <div class="col-6 text-center">-->
<!--            <button type="button" class="btn btn-primary btnCardHome">SEE MATCH</button>-->
<!--          </div>-->
<!--          <div class="col-6 text-center">-->
<!--            <button type="button" class="btn btn-primary btnCardHome">BET</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div class="col s12 m6">-->
<!--    <div class="card">-->
<!--      <div class="card-image">-->
<!--        <img-->
<!--          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlTmTUW8n16Xrrq_mMtYEEpeOoC5ewj74ucyKjIWy7xYP-VPDS&s">-->
<!--        <span class="card-title">League of Legends</span>-->
<!--      </div>-->
<!--      <div class="card-action">-->
<!--        <div class="row">-->
<!--          <div class="col-6 text-center">-->
<!--            <button type="button" class="btn btn-primary btnCardHome">SEE MATCH</button>-->
<!--          </div>-->
<!--          <div class="col-6 text-center">-->
<!--            <button type="button" class="btn btn-primary btnCardHome">BET</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


</body>
<app-footer></app-footer>
