<app-header></app-header>


<body>
<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlTmTUW8n16Xrrq_mMtYEEpeOoC5ewj74ucyKjIWy7xYP-VPDS&s">
        <span class="card-title">League of Legends</span>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col-6 text-center">
            <button type="button" class="btn btn-primary btnCardHome">SEE MATCH</button>
          </div>
          <div class="col-6 text-center">
            <button type="button" class="btn btn-primary btnCardHome">BET</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlTmTUW8n16Xrrq_mMtYEEpeOoC5ewj74ucyKjIWy7xYP-VPDS&s">
        <span class="card-title">League of Legends</span>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col-6 text-center">
            <button type="button" class="btn btn-primary btnCardHome">SEE MATCH</button>
          </div>
          <div class="col-6 text-center">
            <button type="button" class="btn btn-primary btnCardHome">BET</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlTmTUW8n16Xrrq_mMtYEEpeOoC5ewj74ucyKjIWy7xYP-VPDS&s">
        <span class="card-title">League of Legends</span>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col-6 text-center">
            <button type="button" class="btn btn-primary btnCardHome">SEE MATCH</button>
          </div>
          <div class="col-6 text-center">
            <button type="button" class="btn btn-primary btnCardHome">BET</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlTmTUW8n16Xrrq_mMtYEEpeOoC5ewj74ucyKjIWy7xYP-VPDS&s">
        <span class="card-title">League of Legends</span>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col-6 text-center">
            <button type="button" class="btn btn-primary btnCardHome">SEE MATCH</button>
          </div>
          <div class="col-6 text-center">
            <button type="button" class="btn btn-primary btnCardHome">BET</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
<app-footer></app-footer>
