body {
  background-color: #4D4B4B;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.content::-webkit-scrollbar {
  display: none;
}
.content{
  height: 90vh;
  overflow: auto;
  color: aliceblue;
  padding-bottom: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
  margin-bottom: 5%;
}
.card {
  max-width: 400px;
  box-shadow: 10px 10px 10px 0px #D715FC;
  float: none;
  margin: 7%;
  background-color: #383b3d;
}

.btnCardHome {
  background-color: #24292d;
  margin: auto;
  width: 150px;
  border: 1px solid #D715FC;
}

.card-title {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  align-content: center;
}
.responsive {
  width: 100%;
  height: auto;
}
